@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-primary: #22c55e;
}

@layer base {
  body {
    background-color: #020617;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}

/* Estilos básicos para os inputs aparecerem bem */
input {
  background-color: #0f172a;
  border: 1px solid #1e293b;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  color: white;
  outline: none;
}
input:focus {
  border-color: #22c55e;
}