@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-primary: #22c55e;
}

@layer base {
  body {
    background-color: #020617;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}